{% extends 'harmony_checker/base.html' %}
{% block content %}
{% if score %}
    <p>Uploaded Score: <a class="btn-link"
            href={% url "harmony_checker:score" score.id %}>{{ score.score_display_name }}</a> </p>
    <p>Checked Score: <a class="btn-link"
            href={% url "harmony_checker:checked_score" score.id %}>{{ score.checked_score_display_name }}</a> </p>

    {% if results %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Test</th>
                    <th scope="col">Result</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results.all %}
                <tr>
                    <td>{{ result.test.name }}</td>
                    <td>{% if result.passed %} <span class="badge badge-success">Passed</span>
                        {% else %} <span class="badge badge-danger">Failed</span></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% else %}
    <p>No tests selected.</p>
{% endif %}
{% endblock %}