{% extends 'harmony_checker/base.html' %}
<a href="/harmony_checker/">Check Harmony</a>
<a href="/accounts/logout/">Log Out</a>
{% block content %}
<h1>Profile: {{ user }}</h1>
<a href="/accounts/password_change/">Change Password</a>
{% if scores %}
<h2>Scores:</h2>
    <ul>
    {% for score in scores.all %}
        <li>
            <a href="/harmony_checker/{{ score.id  }}/checked">
                {{ score.score.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No scores uploaded.</p>
{% endif %}
{% endblock %}